@model IEnumerable<ASI.Basecode.Data.Models.User>
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{
    ViewData["Title"] = "User Management";
    var searchQuery = Context.Request.Query["search"];
}

<br />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/style.css" rel="stylesheet">
</head>

<h1 class="fw-bold mb-3">User Management</h1>
<div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createUserModal">Add New User</button>
    <form class="d-flex" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search users" aria-label="Search" name="search" value="@searchQuery">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<div class="table-responsive">
    <table class="table table-striped mt-3 align-middle">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created Time</th>
                <th class="action-column">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Where(u => u.role == "User"))
            {
                <tr>
                    <td>@user.userID</td>
                    <td>@user.name</td>
                    <td>@user.email</td>
                    <td>@user.role</td>
                    <td>@user.createdTime</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#editUserModal-@user.ID">
                            Edit
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteUserModal-@user.ID">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Create User Modal -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Add New User</h5>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body">
                <form asp-action="Register" method="post">
                    @Html.AntiForgeryToken()

                    <!-- Show validation error messages -->
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="mb-3">
                        <label for="userIDCreate" class="form-label">User ID</label>
                        <input type="text" class="form-control" id="userID" name="userID" value="@ViewBag.UserViewModel?.userID" required>
                    </div>

                    <div class="mb-3">
                        <label for="EmailCreate" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="@ViewBag.UserViewModel?.email" required>
                    </div>

                    <div class="mb-3">
                        <label for="NameCreate" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="@ViewBag.UserViewModel?.name" required>
                    </div>

                    <div class="mb-3">
                        <label for="PasswordCreate" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <div class="mb-3">
                        <label for="ConfirmPasswordCreate" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>

                    <button type="submit" class="btn btn-success">Create User</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Edit User Modal -->
@foreach (var user in Model)
{
    <div class="modal fade" id="editUserModal-@user.ID" tabindex="-1" aria-labelledby="editUserModalLabel-@user.ID" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel-@user.ID">Edit User @user.name</h5>
                    <button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="modal-body">
                    <form asp-action="EditUser" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@user.ID" />
                        <div class="mb-3">
                            <label for="userIDEdit-@user.ID" class="form-label">User ID</label>
                            <input type="text" class="form-control" id="userIDEdit-@user.ID" name="userID" value="@user.userID" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="nameEdit-@user.ID" class="form-label">Name</label>
                            <input type="text" class="form-control" id="NameEdit-@user.ID" name="name" value="@user.name" required>
                        </div>
                        <div class="mb-3">
                            <label for="EmailEdit-@user.ID" class="form-label">Email</label>
                            <input type="email" class="form-control" id="EmailEdit-@user.ID" name="Email" value="@user.email" required>
                        </div>
                        <div class="mb-3">
                            <label for="PasswordEdit-@user.ID" class="form-label">Password</label>
                            <input type="password" class="form-control" id="PasswordEdit-@user.ID" name="Password" placeholder="Leave blank to keep existing password">
                        </div>
                        <div class="mb-3">
                            <label for="ConfirmPasswordEdit-@user.ID" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="ConfirmPasswordEdit-@user.ID" name="ConfirmPassword" placeholder="Leave blank to keep existing password">
                        </div>

                        <button type="submit" class="btn btn-success">Update User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


<!-- Delete User Modal -->
@foreach (var user in Model)
{
    <div class="modal fade" id="deleteUserModal-@user.ID" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel-@user.ID" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel-@user.ID">Delete User @user.name</h5>
                    <button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="modal-body">
                    <form asp-action="DeleteUser" method="post">
                        <input type="hidden" name="Id" value="@user.ID" />
                        <p>Are you sure you want to delete user @user.name?</p>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>